{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<script src="https://kit.fontawesome.com/02f68c7ab6.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
	<script src="https://kit.fontawesome.com/4b008443f2.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<title>Orizabee - Lawnmowers, Garden Tractors, Ride-on Mowers and all Garden Machinery</title>
</head>

<body>
    <!-- Add in the Global Header -->
    {% include 'app_websites/global/header.html' %}

    {% block content %}

    {% endblock %}

    <!-- Add in the Global Footer -->
    {% include 'app_websites/global/footer.html' %}
</body>

</html>