{% extends 'app_websites/global/base.html' %}
{% load static %}

{% block content %}

<section class="grid" id="register">
    <div id="content">
        <h1>Login</h1>
        <div class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        <form method="POST" action="">
            {% csrf_token %} 
            <span class="label">Username:</span>
            <span><input type="text" name="username"></span>
            <span class="label">Password:</span>
            <span><input type="password" name="password"></span>
            <input class="button" type="submit" name="Login">
        </form>
        <div>
            Don't have an account? <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
</section>

{% endblock %}