{% extends 'app_websites/global/base.html' %}
{% load static %}

{% block content %}
<section class="grid" id="partlist">
    <div>
        <h1>Part Lists</h1>
        <div class="partlist">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="head">Id</td>
                    <td class="head">Machine</td>
                    <td class="head">View</td>
                </tr>
                {% for partlist in partlists %}
                <tr>
                    <td class="first-col">{{ partlist.id }}</td>
                    <td class="first-col">{{ partlist.partlist }}</td>
                    <td><a href="">View</a></td>
                {% endfor %}
            </table>
        </div>


    </div>
</section>


{% endblock %}